[2018-11-16 06:58] Sandeep321 opened #1 "Using Json file with complex json"
I trued using the package and it works fine with simpple json like : {
  "Hello": "Bonjour"
}
But it did not work with complex json like
{
  "Hello": {
    "Key": "Hello"
     }
  }

I tried using localizer["Hello.Key"] to access the value Hello.

Is it possible with this package, if yes how.

Or else can you please add that functionality as well.

[2018-11-16 07:00] Sandeep321 commented on #1
It works by using localizer["Hello:Text"]. So closing it. 👍

[2018-11-16 07:00] #1 closed

[2018-11-16 11:31] hishamco commented on #1
Yep, because `:` is the  delimiter that have been used in the configuration. Happy to hear that's working

[2018-11-27 04:13] Sandeep321 opened #2 "How will it handle the localization of model Validations"
I wanted DataAnnotations Like [Required], [Display], [Range] to be localized. I tried some ways as I found over StackOverflow etc but nothing seems right for this Json localizer.

Any idea on how to accomplish the same. Sample code would be really helpfull.

[2018-11-27 19:00] hishamco commented on #2
Before I dig into, please check the [LocalizationSample.Web](https://github.com/aspnet/Entropy/tree/master/samples/Localization.StarterWeb), because my `JsonLocalizer` should work as same as `StringLocalizer` except it looks for the resources from the JSON files

Can you point to some of those?

[2018-11-28 10:30] Sandeep321 commented on #2
Got it working after trying out a couple of approaches. I got it working it using just couple of lines as
`            services.AddMvc()
                 .AddDataAnnotationsLocalization(o =>
                 {
                     var factory = services.BuildServiceProvider().GetService<IStringLocalizerFactory>();
                     var localizer = factory.Create(typeof(Resource));

[2018-11-28 10:32] hishamco commented on #2
Hope you share your repo if it's public, so I can create a link for it

[2018-11-29 04:37] Sandeep321 commented on #2
I will create one and share soon. and provide the link here.

[2018-11-29 13:12] hishamco commented on #2
Thanks .. I appreciated!!

[2018-12-21 20:02] Sandeep321 commented on #2
@hishamco I have created one example with localization working with DataAnnotations also.
https://github.com/Sandeep321/asp.netcore-JsonResourceLocalizer
might be helpful

[2018-12-22 05:44] hishamco commented on #2
As I see the DataAnnotations issue that you talked about before isn't related directly to the `JsonLocalizer` perhaps a setup issue, furthermore I expect that you 'll reference my package that's published in NuGet rather than copy paste the code again without adding a value 😄

[2018-12-22 05:44] #2 closed

[2019-02-18 16:11] dradovic opened #3 "Not working in a multi project setup"
Hey, thanks for the short and sweet library. Unfortunately, I doesn't work in a multi-project scenario because the base directory is always the one that is currently executing (probably the web project) and then resources are referenced relative to that.
But what I want to support is for example:

    MyCompany.Core
        Resources
            SomeCoreSpecificResources.de-CH.json
    MyCompany.W

[2019-02-18 17:23] hishamco commented on #3
You can have a try, and I will have look to make use of `ResourceLocationAttribute` if it's needed
thanks

[2019-02-21 16:19] hishamco commented on #3
Embed json files should work with you, but I'm asking in case if you have multi projects, the resources should be placed in the host, because its the only project that you need to deploy with other projects binaries

[2019-02-21 17:27] hishamco commented on #3
@dradovic I come up with two ways:
1-Embedding the json files, which is the thing that I don't prefer, but we can find a way to discover the localization resources
2- If the is a modular structure, there should be entry point for each module, there's where the module can register the resources location

[2019-02-21 17:48] hishamco commented on #3
Fixed in commit https://github.com/hishamco/My.Extensions.Localization.Json/commit/2bc6ce14daa88c31bae517a73c406c9fcf5505dd and there's a show case added in the samples folder

[2019-02-21 17:50] #3 closed

[2019-07-25 15:47] abarrak commented on #2
Thank you @Sandeep321 for sharing.
This addresses an issue we had with `DataAnnotation`, and confirmed a solution we expected to work.

[CC: @Muhammad-Altabba].

[2019-07-25 15:51] abarrak commented on #2
I wonder @hishamco though if it's possible to add this setup it into the library.
For example, using extension method to MVC, e.g. Add**JSON**DataAnnotationsLocalization() maybe?

[2019-07-25 16:34] hishamco commented on #2
@abarrak the DataAnnotation stuff is handled in the MVC. I will open a new issue with your suggestion and investigate on that

[2019-07-25 16:37] hishamco opened #5 "Support AddJsonDataAnnotationsLocalization()"
Based on the comment https://github.com/hishamco/My.Extensions.Localization.Json/issues/2#issuecomment-515098347

[2019-07-25 16:53] hishamco commented on #5
Seems doable, I'm glad if you want to send a PR for it, otherwise I 'll do it myself :)

[2019-07-26 15:14] hishamco opened #7 "Support culture as name of the resource file"
I quote from PR #6

[2019-07-26 19:30] abarrak commented on #7
This is practically useful in the  micro services cases, where each service only require single shared resource.

[2019-07-26 23:14] hishamco commented on #7
I `ll let use `IStringLocalizer` instead, keep tuning ..

[2019-07-27 07:38] #7 closed

[2019-07-28 09:54] redabakr opened #8 "ResourcesPath Issue with IIS vistual directory"
![Screenshot_072819_115525_AM](https://user-images.githubusercontent.com/4567122/62005109-9650cb00-b12e-11e9-95cf-d7be7ffff968.jpg)

Everything is working fine locally, but on the server, it can't find the json files

[2019-07-28 11:23] Muhammad-Altabba commented on #5
I created a pull request for this. Kindly review and issue a new NuGet package.
Many thanks,

---
Thanks to @abarrak,

[2019-07-28 19:13] hishamco commented on #8
I'm wondering there are two folders instead of one that represents the app

[2019-07-29 04:26] hishamco commented on #5
Thanks for your PR, please have a look to my comments there ..

[2019-07-29 18:29] hishamco opened #11 "Add unit tests"
Seems it's good practice to make sure that everything is work as expected, so unit tests can help to validate almost if not all the covered cases

[2019-07-29 18:32] hishamco opened #12 "Use CI\CD"
Adding AppVeyor, Travis and AzurePipeline to make sure that a new commit doesn't break anything

[2019-07-29 23:25] hishamco commented on #12
Adding Azure Pipelines in 921617cbddbcb632a9069fa451ffa33ce8b019c5

[2019-07-29 23:46] hishamco opened #13 "Implement GetAllStrings()"
Seems I forgot this on

[2019-07-30 03:27] hishamco opened #14 "Create JsonStringLocalizerFactory using basname & location throws an exception"
Unable to Create call `IStringLocalizer Create(string baseName, string location)` in case of `ResourcesType.TypeBased`

[2019-07-30 03:40] #11 closed

[2019-07-30 05:38] #14 closed

[2019-07-30 05:39] #12 closed

[2019-08-02 03:14] hishamco opened #18 "Support strongly typed resource names"
If we add expression to `IStringLocalizerOfT` members this will allow us to do the following:

[code]
[code]

[2019-08-06 16:59] #13 closed

[2019-08-06 17:02] hishamco commented on #8
@redabakr could you please try your project again with latest bits aka nightly builds?

[2019-10-12 22:41] hishamco commented on #8
I will close this for now, feel free to re open it if the issue still exist

[2019-10-12 22:41] #8 closed

[2019-10-12 22:43] #18 closed

[2019-10-13 00:30] #5 closed

[2020-01-22 10:03] khaledobaid opened #22 "An unhandled exception occurred while processing the request."
FileLoadException: The given assembly name or codebase was invalid. (0x80131047)

in StringLocalizer.cs
_localizer = factory.Create(string.Empty, PathHelpers.GetApplicationRoot());

[2020-02-05 23:28] hishamco commented on #22
Hi @khaledobaid

Sorry for delay due the Internet cable issue in our country, regarding to the reported bug is it occur on the code base or in your project that reference the json localized?

[2020-03-03 10:35] TPIvan opened #23 "Localization in startup project doesn't work."
Parameter type and json file name in `LocalizationSample` are inconsistent.
There is

     public void Configure(IApplicationBuilder app, IHostingEnvironment env, IStringLocalizer<Model> localizer)

in  `Startup` class. However the the file name is `Startup.fr-FR.json`.

Either the file name should be `Model.fr-FR.json` or the parameter should be `IStringLocalizer<Startup>`.

[2020-03-03 10:39] hishamco commented on #23
Thanks for reporting this, let me check or submit a PR if you interest

[2020-03-03 10:42] TPIvan commented on #23
I have a copy opened in VS connected to TFS (not git) so PR is a bit difficult for me.

[2020-03-03 13:40] hishamco commented on #23
No problem I will have a look to it now

[2020-03-03 14:46] hishamco commented on #23
@TPIvan the file named `Model.fr-FR.json`, I don't see an issue with that, could you rebase to the latest bits?

[2020-03-03 14:54] TPIvan commented on #23
I mean the file [`Startup.fr-FR.json`](https://github.com/hishamco/My.Extensions.Localization.Json/blob/master/samples/LocalizationSample/Resources/Startup.fr-FR.json) in [LocalizationSample/Resources](https://github.com/hishamco/My.Extensions.Localization.Json/tree/master/samples/LocalizationSample/Resources). I think that the name should be (as you have said) `Model.fr-FR.json`.

[2020-03-03 15:00] hishamco commented on #23
I meant the `Model.fr-FR.json` which located in `LocalizationSample.Resources`

Let me do a quick run without changing anything

[2020-03-03 15:11] TPIvan commented on #23
It seems like each of us sees a different file. Please check the [image ](https://imgur.com/a/v19vdid).

[2020-03-03 15:25] hishamco commented on #23
Fixed in a672ac1588db4be70a06342e43f5e49ed1734588, I'm sure I pass a `Model` for a reason, I revise the old commits

Thanks

[2020-03-03 15:25] #23 closed

[2020-03-03 16:14] hishamco commented on #22
Fixed in 4f13064a42390c3e14861249c1082772d38f494d

[2020-03-03 16:14] #22 closed

[2020-03-04 16:45] thomkle opened #24 "[Question] When will the latest version be available as a NuGet package?"
Hi,

As mentioned in the title, I'm wondering when the latest version that was just pushed will be available as a NuGet package (https://www.nuget.org/packages/My.Extensions.Localization.Json). It doesn't seem to have been updated for a while.

[2020-03-04 18:38] hishamco commented on #24
You 're right, I tried yesterday to push them into GitHub Packages first, seems I will push them directly on NuGet

Thanks

[2020-03-04 18:40] hishamco commented on #24
I will review the code today to check if there's a breaking changes from the 1st version

[2020-03-04 21:17] hishamco commented on #24
Please check this https://www.nuget.org/packages/My.Extensions.Localization.Json/2.0.0

[2020-03-04 21:17] #24 closed

[2020-03-09 10:46] thomkle commented on #24
@hishamco Thanks a lot for a quick response and push!

Works very well.

[2020-03-09 11:17] hishamco commented on #24
Thanks for pushing me at this time ;)

[2020-03-09 11:27] thomkle commented on #24
@hishamco Another question, any plans to support fallback-functionality? E.g. say I have a TestController and the files testcontroller.es-ES.json, testcontroller.es.json and testcontroller.json. The fallback-functionality would first check the testcontroller.es-ES.json for the key, then the testcontroller.es.json and then testcontroller.json.

[2020-03-09 11:36] hishamco commented on #24
Could you please move it into a new issue?

[2020-03-09 11:38] thomkle commented on #24
Of course!

[2020-03-09 11:40] thomkle opened #25 "Fallback-functionality"
Any plans to support fallback-functionality? E.g. say I have a TestController and the files testcontroller.es-ES.json, testcontroller.es.json and testcontroller.json. The fallback-functionality would first check the testcontroller.es-ES.json for the key, then the testcontroller.es.json and then testcontroller.json.

Edit: Like explained [here](https://docs.microsoft.com/en-us/aspnet/core/fundament

[2020-03-09 11:51] hishamco commented on #25
Any plans to support fallback-functionality?

Sure, let me check why this not included, I already support this in some OSS

[2020-03-09 11:54] hishamco commented on #25
FYI the fallback is here https://github.com/hishamco/My.Extensions.Localization.Json/blob/master/src/My.Extensions.Localization.Json/JsonStringLocalizer.cs#L119-L140

Are you sure it doesn't work, perhaps I need to add a unit test if it is not included yet

[2020-03-09 12:46] thomkle commented on #25
That's really strange, to provide more accurate info:
I have a test.en-US.json, test.en.json and test.json (in the same folder) with the following content:

test.en-US.json
[code]

test.en.json
[code]
test.json
[code]

With an empty Test-class:
[code]

And then trying to access the values using `IStringLocalizer<Test> _localizer` (injected into a controller) and `_localizer["temp"] == "test-en-US"

[2020-03-09 20:59] hishamco commented on #25
I know what you mean exactly, let me create a unit test for that

[2020-03-10 09:53] thomkle commented on #25
Great, thanks for being so fast to respond!

[2020-03-10 21:51] #25 closed

[2020-03-10 21:52] hishamco commented on #25
@thomkle seems the culture fallback works fine with `GetAllStrings()` but not localizer indexer

[2020-03-10 21:53] hishamco opened #27 "Culture Fallback should respect FallBackToParentUICultures"

[2020-03-10 22:00] hishamco commented on #27
Injecting `IOptions<RequestLocalizationOptions>` will introduce a breaking change, we need a way to make this happen without breaking changes, otherwise will go into `3.0.0`

[2020-03-11 11:57] thomkle commented on #25
@hishamco Ah, I see. I'll follow the status on #26

[2020-03-11 12:00] hishamco commented on #25
It's already merged ;) feel free to use and try the latest bits

[2020-03-11 12:05] thomkle commented on #25
Ah, great! I'll try out the last change. Could you push a NuGet package for it as well?

[2020-03-11 12:50] thomkle commented on #25
@hishamco Seems to be working very well now, thanks!

[2020-03-11 13:30] thomkle commented on #25
@hishamco Sorry to nag, but the fallback doesn't seem to work completely. E.g. say I have set the culture "es-ES", but there are no files <filename>.es-ES.json, but I have a <filename>.json. It will not fall back to values in <filename>.json. I also tested this creating unit tests after cloning the repo and it looks that the unit test fails.
Reproduction steps:
- Add a `Test.json` with the content

[2020-03-11 13:31] hishamco commented on #25
I'm not sure for now, but may be a pre release version will be fine

[2020-03-11 13:36] hishamco opened #28 "Pluralization Support"

[2020-03-11 13:51] hishamco opened #29 "Using JSON APIs"
We need to investigate to use JSON APIs over configurations APIs to read the `.json` files

[2020-03-11 13:54] hishamco opened #30 "Ability to load resources from multiple locations"

[2020-03-11 14:01] hishamco opened #31 "Use single localization file for all cultures"
I'm not sure if it's useful to have a single file that contains all the localization strings for the supported cultures

[code]

[2020-03-11 14:02] hishamco opened #32 "Support IHtmlLocalizer & IViewLocalizer"

[2020-03-11 14:04] hishamco opened #33 "Cache Duration"
It would be nice if we allow expose an option that allow the developer to set the cache duration for the localization entries

[2020-03-11 14:06] hishamco opened #34 "Cache Mechanism"
Align with #33 it would be nice if the underlying caching mechanism is changeable

[2020-03-11 14:13] hishamco opened #35 "Localize Nested Classes"

[2020-03-11 14:14] hishamco opened #36 "Localization & Generics"

[2020-03-11 14:17] hishamco opened #37 "Add Benchmark"
Add benchmark project to measure the performance

[2020-03-11 14:23] hishamco opened #38 "Missing Localization Behavior"
We can:

- Add log entry

- Throw an exception

- Ignore and use the localization key

[2020-03-12 09:45] hishamco opened #40 "Remove internal contructor in JsonStringLocalizer"
Check if we can remove the internal constructor of `JsonStringLocalizer` without breaking things

https://github.com/hishamco/My.Extensions.Localization.Json/blob/master/src/My.Extensions.Localization.Json/JsonStringLocalizer.cs#L33-L39

[2020-03-12 12:41] hishamco commented on #40
Fixed in https://github.com/hishamco/My.Extensions.Localization.Json/commit/f4dba0e8a6e280582f27adf3469ab6613de162d0

[2020-03-12 12:41] #40 closed

[2020-03-16 10:16] thomkle opened #42 "It would be nice to be able to override methods in JsonStringLocalizer and JsonStringLocalizerFactory"
It would be nice to be able to override methods in in `JsonStringLocalizer` and `JsonStringLocalizerFactory` by making them virtual and at least using the protected modifier. E.g. if I'd like to change the functionality on how the cache is build, there is currently no way of overriding just that method (`BuildResourcesCache`), I'd have to make a new localizer by copying the content from `JsonStrin

[2020-03-16 11:07] hishamco commented on #42
This will may assist to fix #34

Could you please let me know what's the suggested changes that you like to made?

[2020-03-16 11:35] thomkle commented on #42
For the `JsonStringLocalizerFactory`, just simple things to make extensions easier to implement:
- make `_resourcesRelativePath` protected
- make `_resourcesType ` protected
- make `_loggerFactory` protected
- make `CreateJsonStringLocalizer` return the generic `IStringLocalizer` (otherwise if we wanted to override this to return an extension of `JsonStringLocalizer`, it would make it hard to achi

[2020-03-16 12:05] hishamco commented on #42
FYI some of the method couldn't be override able, let us think from many perspectives and choose the proper methods to make them virtual with **Why** question

Thanks for your suggestion

[2020-03-16 12:28] thomkle commented on #42
I see, I can probably note the most important issues I have with extending the library at the moment:
- If I want to extend the `JsonStringLocalizer` I need to also extend the `JsonStringLocalizerFactory` to override the `CreateJsonStringLocalizer` to return the extended type, however, the type of this method is a static `JsonStringLocalizer`. If we set the return type to `IStringLocalizer`, this

[2020-03-16 12:58] hishamco commented on #42
Do you have a repo for your fallback scenario? or I will provide a sample for such thing an probably I unit tests may be useful to ensure that nothing is broken

[2020-03-16 13:05] thomkle commented on #42
No repo, sorry. But the only change I basically need after your PR #41 is just removing the line ` && requestedCulture.Name == _defaultCulture`-part on line 131. That would make the fallback happen for all cultures like I need. A sample of extending the `JsonStringLocalizer` would be greatly appreciated!

[2020-03-19 13:24] hishamco commented on #42
@thomkle I just created a sample in https://github.com/hishamco/My.Extensions.Localization.Json/tree/custom-localizer with minimal modification in the original `JsonStringLocalizer`, BTW you could notice that `Yes` will have the same value `Oui` in all the cultures, which is the thing that I told you about before, so again this should respect the default fallback culture

Hope this fix your issue

[2020-04-02 21:16] shahabganji opened #43 "Registering the service one should provide absolute path, otherwise exception is thrown"
When registering service via `services.AddJsonLocalization`, if the path is not an absolute one it will throw the following exception when resolving the files by `IStringLocalizer`

[code]

it should be changed to

[code]
the latter will work perfect.

I think that extra line can be moved to the library itself.

[code]

[2020-04-02 21:21] hishamco commented on #43
Thanks for reporting this, but did you try to run the sample, it should work as expected

[2020-04-02 21:41] shahabganji commented on #43
Dear @hishamco, thanks for the prompt reply, yes I ran the [sample](https://github.com/hishamco/My.Extensions.Localization.Json/tree/master/samples/LocalizationSample) with a controller trying to use `IStringLocalizer`

[2020-04-02 21:51] hishamco commented on #43
@shahabganji let me try your scenario to make sure that I can reproduce the bug, if you think your fix is a real bug, you could send a PR if you want ..

Thanks

[2020-04-02 22:18] shahabganji commented on #43
@hishamco The PR created, hope it helps

[2020-04-03 04:47] hishamco commented on #43
I need to check the sample with your changes first before I review the PR

Thanks

[2020-04-03 06:03] hishamco commented on #43
@shahabganji I think there's some confusion here you 're using `IStringLocalizer` instead of `IStringlocalizer<T>` which is may causes a strange behavior

Please refer to my new added sample [here](https://github.com/hishamco/My.Extensions.Localization.Json/tree/mvc-sample)

Hope it clarifies what's the preferred localizer you should use as well as resource name conventions

[2020-04-03 08:23] hishamco commented on #43
Merged into `dev`

[2020-04-03 08:59] shahabganji commented on #43
@hishamco
I still get the same error, even with `IStringLocalizer<HomeController>`; besides using `IStringLocalizer<T>` only loads messages from `T.{culture}.json` file, right? however, using non-generic `IStringLocalizer` will load messages which are not only for a specific class/controller, like some global shared messages.

I added the following to resolve problem in `Startup -> ConfigureServic

[2020-04-03 09:02] hishamco commented on #43
That means the error occurs when you are using `IStringLocalizer` alone or beside `IStringLocalizer<T>` right?

[2020-04-03 09:08] shahabganji commented on #43
I just checked out the project and run the new sample as dotnet project. I have the same error no matter which type of usage,  `IStringLocalizer<T>` alone also produces the error. using both together also produces error.

my current controller :

[code]
and `Startup.cs`

[code]

I have two resource files, `HomeController.fr-FR.json` and `fr-FR.json`

changed the line to `services.AddJsonLocalizati

[2020-04-03 09:11] shahabganji commented on #43
Also changing [Line 174](https://github.com/hishamco/My.Extensions.Localization.Json/blob/master/src/My.Extensions.Localization.Json/JsonStringLocalizer.cs#L174) to

[code]
solved the issue.

[2020-04-03 09:12] hishamco commented on #43
I did few updates after I support `JsonHtmlLocalizer`, I will try to use `IStringLocalizer` alongside with `IStringLocalizer` to reproduce the error

[2020-04-03 09:13] shahabganji commented on #43
you mean `IStringLocalizer` alongside with `IStringLocalizer<T>`? but in this case `IStringLocalizer<T>` also throws an exception. Anyway thanks for the follow ups.

[2020-04-03 09:16] hishamco commented on #43
Seems I confused, could please try the latest sample `LocalizationSample.Mvc` and let me know what are the required changes to raise the error

[2020-04-03 09:16] #32 closed

[2020-04-03 09:19] shahabganji commented on #43
I exactly **did** that. please check [here](https://github.com/hishamco/My.Extensions.Localization.Json/issues/43#issuecomment-608323488) and [here](https://github.com/hishamco/My.Extensions.Localization.Json/issues/43#issuecomment-608319226)

[2020-04-03 09:23] hishamco commented on #43
Seems you didn't fetch the latest bits ;) I just merged a new commits anyhow I don't have such `T.{culture}.json` file, furthermore there's no error occurs on `IStringLocalizer<HomeController>` at all

[2020-04-03 09:26] hishamco commented on #43
This is a French version of how Privacy page is look like at my end

![Privacy](https://user-images.githubusercontent.com/3237266/78345422-4e7c2080-75a6-11ea-81ef-c61038d24397.jpg)

[2020-04-03 09:31] hishamco opened #47 "Localization FallBack Considerations"
After adding `LocalizationSample.Mvc` few fallbacks don't work as expected:

1. `HomeController` localized messages should come from `Controllers.HomeController.fr-FR.json` instead of `HomeController.fr-FR.json`

2. `Index.cshtml` is not localized because the resources located in `Resources/Views/Home/Index.fr-FR.json`

That means views in nested folder don't work as expected as well as Controller

[2020-04-03 09:39] shahabganji commented on #43
By `T` I meant `HomeController`, I pulled the latest version, however, the problem still exist.

* URL: `https://localhost:8001/Home/Privacy/?culture-fr-FR&ui-culture=fr-FR`
* error the same as before:
[code]

I did the same thing to solve the problem and it worked.
I don't know whether the OS matters or not, mine is Mac OS X

[2020-04-03 09:48] hishamco commented on #43
I see, I don't now you are running on Mac OS, so I need to create a functional test, so AzurePipeline should fail if there's issue

I will try create it ASAP

Thanks again

[2020-04-03 09:49] hishamco commented on #43
Also I will try your change to check if it's work with me too on Windows

[2020-04-03 09:53] hishamco commented on #43
If you wish to create a functional test that runs the `LocalizationSample.Mvc` that I created in you PR it will be very good to make sure that your changes works on ever OS

[2020-04-03 09:55] shahabganji commented on #43
No problem  I'll put a time on that.

[2020-04-03 09:59] hishamco commented on #43
I request few changes on your PR, please fix them and let me know if you need help on creating a functional test

[2020-04-03 10:01] shahabganji commented on #43
Sure, just give me some time till evening, currently at the middle of some important stuff, is that okay?

[2020-04-03 10:03] hishamco commented on #43
Take your time .. I will try to fix and improve something else meanwhile

[2020-04-03 11:08] shahabganji commented on #43
Dear @hishamco, check PR #44 . I've added a functional test for one of the samples, `LocalizationSample`, do we need another one for `LocalizationSample.Mvc`?

[2020-04-03 12:01] hishamco commented on #43
I will have a look ...

Thanks

[2020-04-03 15:39] shahabganji commented on #43
@hishamco Please also update the nuget feed. thanks 🙏

[2020-04-03 15:49] hishamco commented on #43
Do you mean upload a NuGet package?

[2020-04-03 15:54] #43 closed

[2020-04-03 16:11] shahabganji commented on #43
Yes.

[2020-04-03 16:16] hishamco commented on #43
I need to add some new features, then I will release `2.1.0` hope this will not take more than few days

[2020-04-03 17:33] hishamco opened #50 "Support ResourceLocationAttribute"

[2020-04-03 17:34] hishamco opened #51 "Support RootNamespaceAttribute"

[2020-04-07 21:27] #35 closed

[2020-05-01 18:03] hishamco commented on #50
It's already supported

[2020-05-01 18:03] #50 closed

[2020-08-16 12:17] vovanb opened #53 "assign culture in runtime"
I want to configure culture in appsettings.json. If exist a way to assign culture in runtime?
I tried in startup.cs put below
[code]

But it did not help....

[2020-08-16 13:23] vovanb opened #54 "Have one resource file for project"
Is it possible to have one resource file for all project without creating Views->Home  or controllers,Views.Home.Privacy

[2020-08-16 19:06] hishamco commented on #54
I think you mean `SharedResource`?

[2020-08-16 19:09] hishamco commented on #53
Seems you are talking about `JsonResquestCultureProvider` which I blogged about years ago, that code you wrote above should sets the culture, could you tell me where you wrote it?

Please let me what your intend, so I can answer properly

[2020-08-17 06:56] vovanb commented on #54
the idea is to put all translations in one single json file and use it from all pages

[2020-08-17 07:01] vovanb commented on #53
yes this is what I asked:
http://www.hishambinateya.com/localization-and-configuration-in-asp.net-core-2.0-part-1-json-request-culture-provider

I missed  DefaultRequestCulture = new RequestCulture("en-US"),
Thank you

[2020-08-17 07:01] #53 closed

[2020-08-17 07:24] hishamco commented on #53
All the best

[2020-08-17 07:26] hishamco commented on #54
Yah!! that's what I meant before, hope to create a sample for that if it's not exist

[2020-08-17 07:26] hishamco commented on #54
If you wanna to try it, it's my pleasure to accept your PR

[2020-08-18 06:40] vovanb commented on #54
I would be happy to make changes, but can you please point where from to start?

[2020-08-18 18:00] hishamco commented on #54
@vovanb after revising the code, what you asking for is already implemented, please have a look to `LocalizationSample`, there's a `fr-FR.json` which contains a shared resources that can be accessible through `IStringLocalizer`

[2020-08-19 06:23] vovanb commented on #54
not sure I fallow you. I see exist two resources fr-FR.json and Startup.fr-FR.json. I want to use in all MVC pages ( Layout,Index) singe file. So what step I need to perform?

[2020-08-19 08:42] hishamco commented on #54
1. Create a json file per culture

2. Add all of your localization resources

3. Access them using `IStringLocalizer`

That is it!!

[2020-08-20 10:53] vovanb commented on #54
I tried in index.cshtml to use
@inject IStringLocalizer Localizer instead of
@inject IViewLocalizer Localizer
but got not found exception ... and once I added reference to @using Microsoft.Extensions.Localization; I got can not load exception

[2020-08-20 16:39] hishamco commented on #54
No no .. you can replace `IViewLocalizer` with `IStringLocalizer`, instead use it in your controller or page model

Let me have a look ...

[2020-08-25 14:54] hishamco commented on #54
@vovanb any updates?

[2020-09-01 12:45] fededim opened #55 "Any plan to switch the project to a .NET standard class library ?"
In this way your package could also be used in WebAssembly Blazor applications.

[2020-09-01 16:37] hishamco commented on #55
I was thinking about Blazor while it's beta, perhaps I need to revise this soon while the localisation are supported now

Thanks

[2020-09-01 17:04] hishamco commented on #55
If you want to pick this one I will be glad, we need a sample too to ensure nothing breaks

[2020-09-06 20:33] hishamco commented on #55
I did some progress on this one, seems we need to remove the `IHostingEnvironment` dependency, coz it's not registered by default in Blazor

[2020-09-07 06:30] fededim commented on #55
Ok, the problem I see is that there is no hosting environment in blazor client side, that's why it has been removed...just to understand why do you need it ? You need to access contentrootpath or webrootpath ?

[2020-09-07 11:17] hishamco commented on #55
Nope, there's `IWebAssemblyHostEnvironment` that can be accessed via `WebAssemblyHostBuilder`

https://github.com/hishamco/My.Extensions.Localization.Json/blob/3b2c4c657caaabb799549060497dd830aea2f11a/src/My.Extensions.Localization.Json/Internal/StringLocalizer.cs#L12

Yep, but seems it's save to remove it now - for the upcoming major release - while it's not used

[2020-09-07 11:21] hishamco commented on #55
Still there's another exception I got, I'm working to fix it ...

[2020-09-08 02:21] hishamco commented on #55
Here is #56 a WIP, you can have a try to fix the current bug if you are interested

[2020-09-08 07:18] fededim commented on #55
Which bug are you talking about ?

[2020-09-08 07:29] hishamco commented on #55
I'm not sure, but while I'm injecting `IStringLocalizer` I got some exception in the console, probably something goes wrong

[2020-09-30 07:43] fededim commented on #37
It would be better because I noticed that the localization of a string takes around 250ms which is extremely slow (I have a JSON with 2600 keys)! The problem is in the string localizer where you use a Dictionary only for indexing culture and not keys (it's an enumerable which has be scanned for the search of each key, if you have a lot of keys it's very slow). It would be better to use a double di

[2020-09-30 07:52] hishamco commented on #37
Thanks @fededim for reporting this, just one question did the PERF improved after you did your changes?

I will try to finish the benchmarking and modify some places in the code to improve the PERF

[2020-09-30 08:22] fededim commented on #37
I ended up writing my own library which takes around 0ms (so almost 200 times less). The speed greatly improves because for an access Dictionary has O(1) time complexity (e.g. constant in the dictionary size) whereas IEnumerable has O(n) time complexity (e.g. linear in the number of elements of IEnumerable).

[2020-09-30 08:26] hishamco commented on #37
It would be nice to push a PR to improve the PERF

[2020-09-30 08:33] hishamco commented on #37
As I remembered I did this to make the localization keys updated whenever I modify the json file, probably I need to revise everything in there

Thanks

[2020-09-30 08:33] fededim commented on #37
I do not have time for a PR (I have already written my own library), the changes are not difficult just change the variable I pointed out and fix compilation errors. It is just an advice of how to improve the speed of your library.

[2020-09-30 08:50] hishamco commented on #37
Thanks @fededim I will try to measure the PERF after your changes

[2020-09-30 09:29] fededim commented on #37
Ok this is a good point, but do you need it ? Usually localization happens rarely: when you support a new language you translate all strings and create a new json file which remains more or less the same. There might be some corrections, but in that case you can change the file and restart the website/application pool to reload the new changes.
If you really want an autorefresh the best way would

[2020-09-30 09:57] hishamco commented on #37
FYI configuration APIs is already have auto reload options buitl-in

[2020-09-30 12:30] fededim commented on #37
Fine, but you need still a callback to update the Dictionary when json files are reloaded (maybe you can use directly the IConfigurationRoot returned from Build command instead of using a Dictionary, but I do not know its performance). In this case you also need synchronized Dictionary (like the ConcurrentDictionary you use) whereas if you don't use autorefresh you can use standard Dictionary whic

[2020-09-30 12:44] hishamco commented on #37
Yes & No, it's needed to refresh the added values at runtime, but not for a new added culture

[2020-09-30 20:34] fededim commented on #37
I checked [ConfigurationRoot](https://github.com/aspnet/Configuration/blob/master/src/Config/ConfigurationRoot.cs), every [provider](https://github.com/aspnet/Configuration/blob/d469707ab18eef7ed0002f00175a9ad5b0f36250/src/Config/ConfigurationProvider.cs) uses a dictionary to store the key-values, even though it is not synchronized (this could raise the issue of not finding a key during a reload).

[2020-09-30 21:05] hishamco commented on #37
Thanks for your informative details, I will try to made some changes ASAP

[2020-10-01 06:31] fededim commented on #37
You are welcome

[2020-10-01 17:39] HamedFathi opened #57 "How to use with DataAnnotation?"
Is it possible to use it with `DataAnnotation`? Any sample?

[2020-10-01 20:45] hishamco commented on #57
Of course it's possible, I remembered this had been triggered by @Muhammad-Altabba long time ago in #9, you could have a look to #2 for more information

Please let me know if you face any issue, it should work as it works in `ResourceManager`

[2020-10-02 06:37] HamedFathi commented on #57
Honestly, I tried but failed and built a repository. Can anyone help me?

[JsonResource](https://github.com/HamedFathi/JsonResource)

[2020-10-02 10:49] hishamco commented on #57
Ok, no worry I will have a look or provide a sample in the repo soon

[2020-10-04 09:47] hishamco commented on #57
I think it will not make difference either Web API, MVC or Razor Pages

[2020-10-04 10:54] hishamco opened #58 "Regression Bug"
I just notice there's a bug when I run the `LocalizationSample.Mvc` more specifically in

https://github.com/hishamco/My.Extensions.Localization.Json/blob/9d7893a162c583940d932fb510d0aab71e91d72c/src/My.Extensions.Localization.Json/JsonStringLocalizerFactory.cs#L41-L44

This seems a regression bug from #49

[2020-10-04 12:01] hishamco commented on #57
@HamedFathi you could try my PR #59, I added a data annotation support to the MVC sample it should work with other applications type too

[2020-10-05 05:47] HamedFathi commented on #57
@hishamco

Thank you so much, Although I tried to simulate your approach in my [JsonResource](https://github.com/HamedFathi/JsonResource) sample it failed!

I still do not understand what I have set wrong.
Anyway, thank you.

[2020-10-05 07:27] hishamco commented on #57
Is your sample using the `JsonStringLocalizer` or your own localizer?

[2020-10-05 07:28] HamedFathi commented on #57
@hishamco

`IStringLocalizer<>` [here](https://github.com/HamedFathi/JsonResource/blob/b19495906db3bac175955e0940be0e9d20bf0fd0/JsonResource/Controllers/WeatherForecastController.cs#L24)

[2020-10-05 07:30] hishamco commented on #57
I mean you didn't use JSON?

[2020-10-05 07:33] hishamco commented on #57
The line you point to will localize the strings that will be used by the controller not the data annotations

[2020-10-05 07:34] HamedFathi commented on #57
![image](https://user-images.githubusercontent.com/8418700/95051701-881b1900-06fa-11eb-9c3b-8db6472b5543.png)

[2020-10-05 07:39] hishamco commented on #57
At the first glance no need to provide a full path for the resources folder, just make it "Resources" if it not working I will check your repo on my laptop and see what's going on

[2020-10-05 07:42] HamedFathi commented on #57
I had checked your tip before. Does not work.

No pressure, It would be great if you have time to check my repository. Definitely I make a mistake.

Thanks in advance.

[2020-10-05 14:03] hishamco commented on #57
My tip is necessary before you go further, I will have a look once I have a time

[2020-10-05 14:33] hishamco commented on #57
It works with me with two changes ;)

[code]

[2020-10-05 14:45] HamedFathi commented on #57
@hishamco  I did not know their order is important!

Thank you so much

[2020-10-05 14:45] #57 closed

[2020-10-05 14:49] hishamco commented on #57
Localization should come first, so anything after should be aware of the localization APIs, hope the sample is working with you

[2020-10-05 14:52] hishamco commented on #58
Fixed in #59

[2020-10-05 14:52] #58 closed

[2020-10-11 17:15] hishamco commented on #54
I will close this one while there's no update from the author

[2020-10-11 17:15] #54 closed

[2020-10-11 19:33] hishamco commented on #55
FYI: `netstandard` now has been supported in PR #56, there's a known issue in Blazor WebAssembly only

[2020-10-11 19:33] #55 closed

[2020-10-11 19:47] hishamco commented on #42
@thomkle I'd like to let you know I'm working on this now, but I need to from you what kind of extensibility do you need, I don't think adding `protected virtual` to every method is a correct choice

[2020-10-11 19:56] hishamco commented on #42
Add this for now https://github.com/hishamco/My.Extensions.Localization.Json/commit/0a483036465b9551f6fedb912184e885992eea9b

I will try to work on improving the `BuildResourceCache` hopefully I will add an extensibility point there ...

[2020-10-12 11:41] hishamco commented on #34
- Caching Strategy

- Caching Duration

- Purge Caching

[2020-10-12 11:41] #33 closed

[2020-11-12 21:17] #34 closed

[2020-11-14 12:49] neman opened #61 "LocalizationSample project is not working"
When I `dotnet run` LocalizationSample I get the following errror:

When I remove `IStringLocalizer localizer1` from injecting into ctor of  **Configure** method, the sample runs ok.

[2020-11-14 13:04] hishamco commented on #61
Thanks @neman for reporting this, which dotnet version your are using?

[2020-11-14 13:19] hishamco commented on #61
I can reproduce the issue, I will figure out why this happen ..

[2020-11-14 15:59] hishamco commented on #61
Fixed in https://github.com/hishamco/My.Extensions.Localization.Json/commit/78bf2723697a9629ecac65115c90d83238145283

[2020-11-14 15:59] #61 closed

[2021-01-10 10:01] GreenShadeZhang opened #62 "About NET5.0 Blazor WebAssembly Uses My.Extensions.Localization.Json"
A limited set of ASP.NET Core's localization scenarios are currently supported:

IStringLocalizer and IStringLocalizer<T> are supported in Blazor apps.
IHtmlLocalizer, IViewLocalizer, and Data Annotations localization are ASP.NET Core MVC scenarios and not supported in Blazor apps.

When I use it, there's a Microsoft.AspNetCore.Mvc.Localization reference, so can this library separate the code so t

[2021-01-10 14:49] hishamco commented on #62
Hi @GreenShadeZhang I did some localization in Oqtane Framework (Blazor), I may look again into the `JsonLocalizer`

I'm not sure if it's the right time, I followed the same naming convension of ASP.NET Core Extensions at the beginning, I think it's not a big issue while there's a tags attached on the NuGet package

Thanks

[2021-01-11 05:34] GreenShadeZhang commented on #62
Sorry, I just care about this word my, the others are very good, thank you for your help in troubleshooting net5.0 blazor webassembly, thank you very much.

[2021-01-18 13:46] GreenShadeZhang commented on #62
Hello, have you tested some problems in the NET5.0 Blazor WebAssembly project?

[2021-01-18 16:55] hishamco commented on #62
Sorry @GreenShadeZhang I was busy last few days, hope to do it today or tommrow, could you please create a minimal repo, so I can easily figure out the issue and test it

[2021-01-19 12:56] GreenShadeZhang commented on #62
https://github.com/GreenShadeZhang/BlazorAppTest

This is a NET5.0 Blazor WebAssembly test project, the main reason is to expose Microsoft.AspNetCore.Mvc namespace problems, I looked at the source code NET5.0 Blazor WebAssembly multi-language only used Microsoft.Extensions.Localization, your library is implemented razor page and mvc interface, I hope you'll help you see if you're going to leave th

[2021-01-19 18:56] hishamco commented on #62
Thanks @GreenShadeZhang, I will have a look ...

[2021-01-19 20:00] hishamco commented on #62
Seems I was wrong when I add `Microsoft.AspNetCore.Mvc.Localization` I will try to look to the commits history

[2021-01-19 20:16] hishamco commented on #62
I figure out the issue, which came from introduing `JsonHtmlLocalizer`, so I will move into into another assembly, so Blazor will not complain then ...

[2021-01-19 21:18] hishamco commented on #62
PR #46 is the main reason for this, a better solution is to create another package for MVC specific localization

[2021-01-19 21:33] hishamco commented on #62
@GreenShadeZhang I just removed the dependency, hopefully I will release the upcoming release with few days, you could try GitHub Packages for now without waiting https://github.com/hishamco?tab=packages&repo_name=My.Extensions.Localization.Json please let me know if this fix your issue

[2021-01-20 14:58] GreenShadeZhang commented on #62
When I use the package you remove, there will also be an error, as if it were an error caused by a resource path read, and it is recommended that you test it with the NET5.0 Blazor WebAssembly project.

![image](https://user-images.githubusercontent.com/24240675/105192155-cb4aac00-5b72-11eb-9cc1-11675f0cf9de.png)

[2021-01-20 15:10] hishamco commented on #62
Please refer me to the page that causes the issue, I will try to update the blazor sample to `NET5.0`

[2021-01-30 08:48] GreenShadeZhang commented on #62
Hello this time I test your code, I upgraded sdk to net5.0, managed in server mode, running your code is normal, but when I use WebAssembly to produce file read problems, the cause of the problem is that the json file read place blazor has adjustments, resulting in not being able to take the path to get jason files, this is my guess, I hope you have time also test, originally I intended to give a

[2021-01-30 14:13] hishamco commented on #62
Feel free to submit a PR if it's required, I will check the Blazor WebAssembly app too

[2021-02-02 16:14] mwillems1994 opened #63 "System.ArgumentOutOfRangeException: startIndex cannot be larger than length of string."
In my project i make use of
`.AddDataAnnotationsLocalization(options =>
{
    options.DataAnnotationLocalizerProvider =
        (type, factory) => factory.Create(type);
});`

Sometimes i get an exception where it tries to do a substring.

it fails on the following assembly and typeinfo.
* assemblyName = "System.Private.CoreLib"
* typeInfo.FullName = "System.Guid"

It also occures with typeInfo.Ful

[2021-02-02 16:23] hishamco commented on #63
Thanks for reporting this @mwillems1994, could you please try `LocalizationSample.Mvc` it uses `AddDataAnnotationsLocalization`

[2021-02-03 07:58] mwillems1994 commented on #63
In your example you pass RegisterViewModel instead of type
`options.DataAnnotationLocalizerProvider = (type, factory) => factory.Create(typeof(RegisterViewModel));`
Therefore it never passes types such as string or guid

[2021-02-03 09:04] hishamco commented on #63
Could please elaborate? or share a minimal repo, so I can see the bug

[2021-02-03 09:22] mwillems1994 commented on #63
Thanks for your quick reply.

To reproduce this to the following:

Add this to your startuo
`services.AddControllers()
    .AddDataAnnotationsLocalization(options =>
    {
        options.DataAnnotationLocalizerProvider =
            (type, factory) => factory.Create(type);
    });`

Note that i pass type to factory.Create instead of typeof(RegisterViewModel).

No add this controller
`[AllowAnonym

[2021-02-03 10:45] hishamco commented on #63
Thanks for the info, hope to check this ASAP

[2021-02-03 10:46] mwillems1994 commented on #63
Thanks

[2021-02-03 11:10] hishamco commented on #63
One more thing, how the action is related to the DataAnnotation?

[2021-02-03 11:13] mwillems1994 commented on #63
That is a good question, i think it is because the parameter is passed to the function and therefore it counts as a DataAnnotation.

[2021-02-03 11:21] hishamco commented on #63
Hmmm, first time I saw this behavior, I will try to debug this one

[2021-02-03 11:24] mwillems1994 commented on #63
I took a quick look yesterday and it seems that you use the substring only to make a key in the dictionary. Maybe find an alternative way to build the key.

[2021-02-03 11:33] hishamco commented on #63
Feel free to submit a PR if you have a better way

Thanks

[2021-02-26 02:29] kylehu16 commented on #31
it's useful.Because mostly we will load this file once,not every times

[2021-02-26 08:01] hishamco commented on #31
You are right, but it will load unnecessary localized strings also unnecessary cultures if you are using one or two

I may consider this or feel free to submit a PR

[2021-07-24 10:44] #63 closed

[2021-08-14 18:56] chrispaynter opened #66 "Class based localisation only works when the class is in the root namespace"
I have a basic structure like this

[code]

If I try to use `IStringLocalizer<Problems>` with this configuration, my localisation strings don't work.

However, if I change my file structure to this
[code]

Then the strings now work.

It seems that we can only use classes so long as they exist in the root namespace. You can't place the class anywhere else.

Would be preferable if we can put the mar

[2021-08-14 18:59] chrispaynter commented on #66
My workaround at the moment is to have the files in the resources folder, but make sure the namespace of the marker class is the root namespace of the project.

[2021-08-14 19:44] hishamco commented on #66
Hi @chrispaynter, you need to set the resources folder with

[code]

In your case you have to set it that to `String.Empty`, have a try or let me know if it doesn't work

[2021-08-15 06:54] chrispaynter commented on #66
Hi @hishamco , thanks for the response. I've actually already done this.

I'll try and get you a minimal repo, under the pump at the minute.

[2021-08-15 06:59] chrispaynter commented on #66
Hi @hishamco thanks for the reply.

Wouldn't that mean then that all my resources have to be in the root of the project, rather than in the `Resources` folder? (which is where I want them to be).

[2021-08-16 15:50] hishamco commented on #66
You should specify the resources path, so that's why I told you to set it to `String.Empty` instead of specifying a resources folder

[2022-02-14 02:41] ByZhouhang opened #67 "Can you provide an core api example with DataAnnotations?"
I have a project that needs to be localized，so many view model , is there a simpler way to write?

[2022-02-14 08:33] hishamco commented on #67
Did you checked the samples that provided in this repo?

[2022-07-09 11:52] codelovercc opened #68 "when using xunit test(SUT),there is an exception throwed!"
Here is the code in my xunit test project
[code]
when I run a unit test,the web application throw exception of DirectoryNotFoundException.the console output is under below.
I noticed that JsonStringLocalizerFactory.Create Method called PathHelpers.GetApplicationRoot(),the PathHelpers.GetApplicationRoot() Method simply call Assembly.GetExecutingAssembly().Location. that's the problem. Assembly.GetE

[2022-07-09 12:42] hishamco commented on #68
Thanks for reporting, I will try to run the tests again and check if there's an exception

[2022-07-09 13:29] codelovercc commented on #68
Thanks for replying, When I run my WebApplication in my Unit Test project. JsonStringLocalizerFactory create a JsonStringLocalizer with wrong Resources Path, the path should be in my WebApplication project,turns out the JsonStringLocalizer used my Unit Test project's path. But my Unit Test project doesn't have a directory named Resource, and I want my WebApplication project in unit test still usin

[2022-07-09 17:54] hishamco commented on #68
Please create a PR showing your unit test which thrown the exception, then I can try to figure out why it's happening

[2022-07-10 12:19] codelovercc commented on #68
Sorry,I don't get it. What is PR? Pull Request? Demo? Or something others?I gonna Google it.Wait me back.Thks.

[2022-07-10 14:16] codelovercc commented on #68
Hi, hishamco. ` IWebHostEnvironment.Environment.ContentRootPath` this is what i want.
Is there a way to use ` IWebHostEnvironment.Environment.ContentRootPath` in class PathHelpers.GetApplicationRoot()
[code]

Never mind!
After all this, I've made a mistake. I have a typo about my Resource directory name. I typed Recourse as my Resource directory name. so this exception was thrown.Sorry to bother y

[2022-07-12 14:19] hishamco commented on #68
After all this, I've made a mistake. I have a typo about my Resource directory name. I typed Recourse as my Resource directory name. so this exception was thrown.Sorry to bother you.

No problem at all, the important thing is everything works as expected ;)